.container h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family:"bebas+neue";
}

.container h4 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:"bebas+neue";
}

.form-label {
    font-family:"montserrat";
}

.form-control {
    font-family:"montserrat";
}

.col mb-3 {
    padding: 0px 50px;
}