.nosotros {
    width: 100%;
    align-items: center;
    text-align: center;
}

.nosotros h2 {
    margin-bottom: 10px;
    font-family:"bebas+neue";
}

.qstexto {
    padding-bottom: 50px;
    text-align: center;
    font-family:"montserrat";
    
}

.portada-9 {
    width: 50%;
}